<%if @cart.cart_items.any?%>

<%= form_tag charges_path do %>
<h1>Cart</h1>
  <div>
  <%= render :partial => 'cart_items', :locals => {:cart_items => @cart.cart_items} %>
</div>

<div> <%=link_to 'Empty Cart' , cart_path(session[:cart_id]),
               method: :delete%>
  <div align="right">

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Buy Picture"
          data-amount= @cart.total > </script>
          </div>

     <%end%>


<%else%>
Your Cart is Empty
<%end%>