<div class="jumbotron">
<table width="100%"  >
  <tbody>
   <tr width="100%" align="center" >
   <td width="50%" >
         <h1><%= @album.title %></h1>
         <p><%= @album.description %>
            <a class="btn btn-primary btn-sm" href="#" role="button">Learn more</a></p>
      </td>
      <td width = "50%" >
       <p width='500px' height ='500px'><%= render :partial => "slider", 
      :locals => {:items => @pictures}  %></p>
      </td>
   </tr>
   <tr width="100%" > 
    <table>
      <tbody>
        <tr>
          <p><%= render :partial => "comments/new", 
          :locals => {:item => @album}  %></p>
         </tr>
    </tbody>

    </table> 
       
   </tr>

 </tbody>   
</table>

</div>